body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
body {
  margin: 0;
  top: 0;
  left: 0;
  background: url(../img/bgrepeat.png);
  background-repeat: repeat;
  background-position: center;
  background-attachment: fixed;
}
.mainContainer {
  margin: auto !important;
  width: auto !important;
  padding: 20px 20px;
  height: 100vh !important;
}
.mainContainer .mainPanel {
  width: 100% !important;
  overflow: hidden;
  border: none !important;
  background-color: #333333 !important;
}
.mainContainer .mainPanel > .content {
  padding: 0;
  height: 100%;
}
.mainContainer .mainPanel .coursePlayer {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  color: #eaeaea;
  background-color: black !important;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  font-size: 1.3rem;
}
.mainContainer .mainPanel .coursePlayer .courseScreenshot {
  max-width: 100%;
  width: auto;
  max-height: 100%;
}
.mainContainer .mainPanel .coursePlayer .playerControlBar {
  display: flex;
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  bottom: 0;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.mainContainer .mainPanel .coursePlayer .playerControlBar .controlButton {
  padding: 10px;
  display: flex;
  cursor: pointer;
}
.mainContainer .mainPanel .coursePlayer .playerControlBar .controlButton:hover {
  background-color: rgba(94, 94, 94, 0.5);
}
.mainContainer .mainPanel .coursePlayer:hover .playerControlBar {
  opacity: 1;
}
.mainContainer .sidePanel > .content {
  height: 100% !important;
  display: flex;
  flex-direction: column;
}
.mainContainer .sidePanel .sidePanelTabs {
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
.mainContainer .sidePanel .sidePanelTabs > header {
  flex-shrink: 0;
}
.mainContainer .sidePanel .sidePanelTabs > .content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}
.mainContainer .sidePanel .sidePanelTabs .activityList {
  overflow-y: scroll;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.mainContainer .sidePanel .sidePanelTabs .activityList .activityItem {
  margin-bottom: 10px;
  margin-right: 4px;
  display: inline-flex;
  word-break: break-all;
  align-items: center;
}
.mainContainer .sidePanel .sidePanelTabs .activityList .activityItem svg {
  margin-right: 10px;
  flex-shrink: 0;
}
.mainContainer .sidePanel .sidePanelTabs .activityList .activityItem a {
  color: white;
  text-decoration: underline;
}
.mainContainer .sidePanel .sidePanelTabs .activityList .activityItem a:before {
  content: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20standalone%3D%22no%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20p-id%3D%221409%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20stroke%3D%22currentColor%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%221.5%22%20shape-rendering%3D%22geometricPrecision%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2215px%22%20height%3D%2215px%22%20style%3D%22color%3A%20white%3B%22%3E%3Cpath%20d%3D%22M10%2013a5%205%200%20007.54.54l3-3a5%205%200%2000-7.07-7.07l-1.72%201.71%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M14%2011a5%205%200%2000-7.54-.54l-3%203a5%205%200%20007.07%207.07l1.71-1.71%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
  display: inline;
  position: relative;
  top: 2px;
  margin-right: 2px;
}
.mainContainer .sidePanel .sidePanelTabs .interativeMessage {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}
.mainContainer .sidePanel .sidePanelTabs .interativeMessage .messageList {
  height: 100%;
  overflow-y: scroll;
  flex-grow: 1;
}
.mainContainer .sidePanel .sidePanelTabs .interativeMessage .messageList .note {
  margin-bottom: 10px;
  margin-right: 4px;
}
.mainContainer .sidePanel .sidePanelTabs .interativeMessage .messageInput {
  height: 50px;
}
.mainContainer .sidePanel .userInfoPanel {
  border-top: 1px solid #eaeaea;
  padding: 10px 0 0;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.mainContainer .sidePanel .userInfoPanel .user .name {
  text-transform: none;
}
@media screen and (min-width: 900px) {
  .mainContainer {
    padding: 20px 3%;
  }
  .mainPanel {
    height: 80vh !important;
  }
  .sidePanel {
    height: 80vh !important;
  }
}
@media screen and (max-width: 899px) {
  .mainContainer {
    padding: 10px;
  }
  .mainPanel {
    height: 30vh !important;
  }
  .sidePanel {
    height: calc(70vh - 35px) !important;
  }
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: white;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa;
}
::-webkit-scrollbar-corner {
  background: #179a16;
}
